Choices:
- session[:all_answers].each do |shuffle|
  #{shuffle}

%br
%br
You chose: #{params[:answer]}

%br
The correct answer was: #{session[:answer]}

%p.flash= flash[:notice]

= button_to 'Continue', questions_id_path(:category => session[:category], :id=> 'selected_#{category}')