
%h1- #{@question.prompt}
= form_tag question_path, :method => :get do 

  Choices: 
  %h1
  
  - @answerChoices.each do |shuffle|
    = radio_button_tag "#{shuffle}", :id => "selected_#{shuffle}"
    =label_tag("#{shuffle}")
    
= submit_tag 'Submit', :id => 'submit_answer'
    



