%h2- #{@question.prompt}

%h1 
Choices:
= form_tag questions_answer_id_path, :method => 'pos', :id => 'answer_form' do
 - @answerChoices.each do |shuffle|
  = radio_button_tag(:answer, "#{shuffle}", :answer => "#{shuffle}") 
  #{shuffle}
 = submit_tag 'Submit', :id => 'answer_submit'