%h2- #{@question.prompt}
Choices: 
- @answerChoices.each do |shuffle|
    =radio_button_tag(:answer, "#{shuffle}", params[:answer] == "#{shuffle}") 
    #{shuffle}

= button_to 'Submit', question_path()

